<!--—---------页面展示---开始------------>
<a href="add.html">添加管理员</a>
<table border="1px" width="80%">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>email</th>
        <th>密码</th>
        <th>添加时间</th>
        <th>最后登陆时间</th>
        <th>最后登陆IP</th>
        <th>操作删除</th>
    </tr>
    <!--    循环输出管理员数据-->
    <?php foreach($rows as $row):?>
        <tr>
            <td><?php echo $row['id'];?></td>
            <td><?php echo $row['username'];?></td>
            <td><?php echo $row['email'];?></td>
            <td><?php echo $row['password'];?></td>
            <td><?php echo date("Y-m-d H:i:s",$row['add_time']);?></td>
            <td><?php echo date("Y-m-d H:i:s",$row['last_login_time']);?></td>
            <td><?php echo $row['last_login_ip'];?></td>
            <td><a href="./index.php?p=Admin&c=Admin&a=remove&id=<?php echo $row['id']?>">删除</a> </td>
        </tr>
    <?php endforeach;?>
</table>
<!--直接输出学生信息-->
<?php echo $name;?>
<?php echo $age;?>


<!--—---------页面展示---结束------------>